@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");

:root {
    --skyblue: #0197f6;
    --bgdark: #091325;
    --bgdark2: #201f21;
    --title: #edf2ef;
    --text: #a9aab1;
    --shadowCard: 10px 10px 20px #161617, -10px -10px 20px #2a282b;
    --shadowButton: 4px 4px 8px #161617, -4px -4px 8px #2a282b;
    --bgButton: linear-gradient(145deg, #222123, #1d1c1e);
    --bgButtonActive: inset 4px 4px 8px #161617, inset -4px -4px 8px #2a282b;

    /* ========== Font and typography ========== */
    --body-font: "Roboto", sans-serif;
    --title-font: "Raleway", sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
    /* ========= Font Weight ========== */
    --font-medium: 500;
    --font-semi-bold: 600;
}

@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--bgdark2);
    font-family: var(--body-font);
    font-weight: 300;
}

.container {
    max-width: 968px;
    margin-left: 1rem;
    margin-right: 1rem;
}

/*  ========== ========== PRE-LOADER ========== ========== */
.container_loader {
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bgdark2);
    transition: visibility 0.5s linear, opacity 0.5s linear;
}

.fade {
    visibility: hidden;
    opacity: 0;
}

.ionicon {
    width: 40px;
    height: 40px;
}

.tag {
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 32;
    stroke: lightsteelblue;
    stroke-linecap: round;
    /* transform: translate(5px, 5px);*/
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    animation: code 1s ease-in-out 3 alternate;
}

@keyframes code {
    0%,
    100% {
        stroke-dashoffset: 370;
    }
    50% {
        stroke-dashoffset: 0;
    }
    50.1% {
        stroke-dashoffset: 720;
    }
}

.tag_M {
    margin: 0 6px;
    color: transparent;
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    font-size: 32px;
    animation: color 1s linear 3 alternate;
}

@keyframes color {
    to {
        color: var(--skyblue);
    }
}

/* ========== ========== END PRE-LOADER ========== ========== */

/* mobile */

.mobile-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--bgdark2);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    height: 3rem;
    transition: 0.5s;
}

.mobile-header .name-header a {
    color: var(--skyblue);
    text-decoration: none;
    font-family: var(--title-font);
    font-weight: var(--font-semi-bold);
    letter-spacing: 3px;
    font-size: var(--h3-font-size);
    text-transform: uppercase;
    transition: text-shadow 0.2s ease-in-out;
}
.mobile-header .name a:hover {
    text-shadow: 0.1px 0px 8px rgba(1, 151, 246, 0.4),
        -0.1px 0px 8px rgba(1, 151, 246, 0.4);
}

.mobile-nav {
    background: var(--bgdark2);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.mobile-nav .nav-link {
    display: block;
    color: var(--text);
    height: 3rem;
    text-decoration: none;
    font-family: var(--title-font);
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 0.3rem;
    flex-direction: column;
    font-size: var(--smaller-font-size);
    letter-spacing: 2px;
    transition: color 0.3s ease-in-out;
}

.mobile-nav .nav-link .bx {
    font-size: 1.2rem;
    z-index: -1;
}
/* ==================== ACTIVE LINK ==================== */
.mobile-nav .active {
    color: var(--skyblue);
}

.nav {
    display: none;
}

/* HERO */

.hero {
    max-width: 968px;
    margin: 0 auto;
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        to top,
        var(--bgdark2) 0%,
        transparent 65%
    );
}

.hero__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: -1;
}

.hero .hello {
    position: relative;
    margin-top: 120px;
    color: var(--skyblue);
    font-family: var(--title-font);
    font-size: clamp(5rem, 11vw, 10rem);
}

.hero .welcome {
    position: relative;
    color: var(--text);
    font-weight: 300;
    margin: 0 16px;
    text-align: center;
    font-size: var(--normal-font-size);
    letter-spacing: 1px;
}

.highlight {
    color: var(--title);
    font-weight: 400;
}

.hero i {
    position: absolute;
    color: var(--text);
    font-size: 4rem;
    animation: chevron 2s ease-in-out infinite;
    bottom: 6rem;
}

@keyframes chevron {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(1rem);
    }
}

/* END HERO */

/*=========================== About Me =========================*/

.about-me {
    padding: 4.5rem 0 1.5rem 0;
}

.about-me .card {
    width: 100%;
    padding: 2.5rem 0 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background: var(--bgdark2);
    box-shadow: var(--shadowCard);
}

.title {
    font-weight: 700;
    font-size: 2rem;
    margin: 16px auto;
    color: var(--title);
    text-align: center;
    font-family: var(--title-font);
}

.text {
    text-align: center;
    margin: 16px;
    letter-spacing: 1px;
    font-size: var(--normal-font-size);
    color: var(--text);
}

.button {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--skyblue);
    padding: 8px 16px;
    border-radius: 25px;
    background: var(--bgButton);
    box-shadow: var(--shadowButton);
    margin: 16px;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.button:hover {
    background: rgba(1, 151, 246, 0.2);
}

.about-me .card .skills {
    width: 100%;
}

.about-me .card .skills h4 {
    margin: 16px;
    color: var(--skyblue);
    font-size: var(--h3-font-size);
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
}

.about-me .card .skills .skills-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1.5rem;
    grid-gap: 1.5rem;
    justify-items: center;
}

.about-me .card .skills .skills-box .skill_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    color: var(--text);
    font-size: 5rem;
    border-radius: 15px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}
.about-me .card .skills .skills-box .bx .skill-name {
    font-family: var(--title-font);
    font-size: var(--small-font-size);
    letter-spacing: 1px;
    position: absolute;
    transition: transform 0.5s ease, opacity 0.8s ease;
    opacity: 0;
    z-index: -1;
}
.skill_item:hover {
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.2) 0%,
        transparent 90%
    );
    transform: translateY(-5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.about-me .card .skills .skills-box .skill_item:hover .skill-name {
    transform: translateY(3.8rem);
    opacity: 1;
}

/*======================== Fin About Me ==========================*/

/* ======================== Works ============================== */
.works {
    padding: 2.5rem 0 1.5rem 0;
}

.works__description {
    color: var(--text);
    text-align: center;
    font-size: var(--normal-font-size);
    line-height: 1.2rem;
    letter-spacing: 1px;
}

.works .work-card {
    padding: 16px;
    width: 100%;
    height: 540px;
    margin: 64px 0;
    display: flex;
    row-gap: 1.5rem;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    box-shadow: var(--shadowCard);
}

.works .work-card .img-card {
    border: thin solid rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    height: 60%;
    width: 100%;
    overflow: hidden;
}

.work-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 25px;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.work-img:hover {
    opacity: 1;
    transform: scale(1.2);
}

.works .work-card .content-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 40%;
}

.works .work-card .content-texts h3 {
    color: var(--title);
    font-size: var(--h2-font-size);
    font-family: var(--title-font);
    font-weight: var(--font-semi-bold);
    letter-spacing: 1px;
}

.card__button__content {
    display: flex;
    align-items: center;
}

.button__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: none;
    width: 2.5rem;
    height: 2.5rem;
    color: var(--skyblue);
    border-radius: 50%;
    background: var(--bgButton);
    box-shadow: var(--shadowButton);
    margin: 16px;
    transition: background-color 0.2s ease-out;
}
.button__icon:hover {
    background: rgba(1, 151, 246, 0.2);
}

/* ==================== VIEW IMG ==================== */

.img-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1001;
    overflow-y: hidden;
}

.close {
    position: fixed;
    top: 3rem;
    right: 3rem;
    color: var(--title);
    font-size: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1002;
    transition: background 0.3s ease-in-out;
}
.close:hover {
    background: rgba(255, 255, 255, 0.1);
}

.img-container {
    max-width: 85%;
    height: 85vh;
}

.img-container img {
    object-fit: contain;

    height: 100vh;
}

/* ===================== Fin Works ============================== */

/* ===================== Contact me ============================== */
.contact {
    padding: 1.5rem 0 0.5rem 0;
}

.contact .contact-card {
    height: 500px;
    margin: 2.5rem 0 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: var(--shadowCard);
}

.contact .contact-card form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .contact-card form input {
    margin: 16px;
    border: none;
    color: var(--text);
    font-size: 16px;
    text-align: center;
}

.contact .contact-card form .name,
.contact .contact-card form .email {
    width: 80%;
    max-width: 600px;
    height: 32px;
    padding: 16px;
    border-radius: 25px;
    background: var(--bgdark2);
    box-shadow: var(--bgButtonActive);
}

.contact .contact-card form .text {
    background: var(--bgdark2);
    box-shadow: var(--bgButtonActive);
    font-family: "raleway", sans-serif;
    color: var(--text);
    font-size: 16px;
    border-radius: 25px;
    max-width: 600px;
    width: 80%;
    height: 150px;
    padding: 16px;
    resize: none;
    text-align: center;
    border: none;
}

.contact .contact-card form .button {
    position: relative;
    color: var(--skyblue);
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 120px;
}
.contact .contact-card form .button .bx {
    font-size: 1.5rem;
}

.link-icon {
    display: inline-block;
}

.contact .contact-card .contact-social .link-icon .bx {
    color: var(--text);
    font-size: 2rem;
    margin: 16px;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.contact .contact-card .contact-social .link-icon .bx:hover {
    transform: translateY(-0.25rem);
    color: var(--skyblue);
}
/* ================= Fin Contact me =========================== */

/* ================= FOOTER =========================== */
.footer {
    padding-bottom: 3.5rem;
    display: flex;
    justify-content: center;
}

.copyright {
    font-size: var(--smaller-font-size);
    color: var(--text);
}

.mail__footer {
    color: var(--skyblue);
    text-decoration: none;
}

/* =================== MEDIA QUERYS ==================== */
@media (min-width: 768px) {
    .hero__img {
        object-position: center -12rem;
    }

    .mobile-header {
        display: none;
    }
    .mobile-nav {
        display: none;
    }

    .nav {
        display: flex;
        justify-content: center;
        position: sticky;
        top: 0;
        width: 100%;
        background: var(--bgdark2);
        z-index: 1000;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    }

    .works .work-card {
        flex-direction: row;
        height: 340px;
    }

    .works .work-card .img-card {
        height: 100%;
        width: 55%;
    }

    .works .work-card .img-card img {
        width: 100%;
        height: 100%;
    }

    .works .work-card .content-texts {
        align-items: center;
        justify-content: space-evenly;
        width: 45%;
        height: 100%;
    }

    .works .work-card:nth-child(odd) {
        flex-direction: row-reverse;
    }

    .navbar {
        width: 100%;
        height: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo a {
        display: block;
        color: var(--skyblue);
        text-decoration: none;
        font-size: var(--h3-font-size);
        text-transform: uppercase;
        font-family: var(--title-font);
        font-weight: 600;
        transition: text-shadow 0.2s ease-in-out;
        letter-spacing: 2px;
    }

    .logo a:hover {
        text-shadow: 0.1px 0px 8px rgba(1, 151, 246, 0.4),
            -0.1px 0px 8px rgba(1, 151, 246, 0.4);
    }

    .navbar ul {
        display: flex;
    }

    .navbar ul li {
        list-style: none;
    }

    .navbar ul li a {
        color: var(--text);
        text-decoration: none;
        letter-spacing: 1px;
        margin-left: 16px;
        font-size: var(--normal-font-size);
        padding: 6px 12px;
        border-radius: 25px;
        transition: 0.3s ease-in-out;
    }

    .navbar ul li a:hover {
        color: var(--skyblue);
        background-color: rgba(1, 151, 246, 0.2);
    }

    .navbar ul li .active {
        color: var(--skyblue);
        box-shadow: var(--bgButtonActive);
    }

    .about-me .card .skills .skills-box {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 968px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
}
